body{
  background-image: url("http://diysolarpanelsv.com/images/hogwarts-castle-silhouette-clipart-7.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

.highcharts-area{
  opacity: 0;
}